*.cache
*.hw
*.ip_user_files
*.sim
*.jou
*.str
*.runs
*.log
*.veo
*.vho
*.gise
*.lso
*.ngc
*.ngr
*.prj
*.stx
*.syr
*.html
*.xrpt
*.xml
*.cmd_log
*_xmsgs/
*iseconfig
*xst
*.xmsgs
*.bld
*.ngd
*.map
*.mrp
*_ngo
*.cmd
*isim
*.ini
*xdb